.custom-toggler .navbar-toggler-icon {
	/* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
	/* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	/* border-color: white; */
}

#navbar-brand {
	animation: mymove 5s infinite;
	font-size: 23px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
	transition: all 1s ease-in-out;
}
#navbar-brand.active {
	/* font-size: large; */
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: white;
	font-weight: bolder;
}
@keyframes mymove {
	50% {
		text-shadow: 2px 2.5px 3px black;
	}
}

.basic-grid {
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(12, 1fr);

	grid-template-columns: repeat(12, minmax(240px, 1fr));

	/* grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); */
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.custom-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* font-size: 3rem; */
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
		rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	height: 100%;
	width: 90%;
	margin: auto;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* .custom-card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
        rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
} */

.nav-ul {
	width: 100%;
	display: table;
	/* table-layout: fixed; optional */
}

.nav-ul .nav-li {
	display: table-cell;
	width: auto;
	text-align: center;
}
.nav-link {
	font-size: 18px;
	font-weight: bold;
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: black;
}
.cart {
	/* background-color: #555;
    color: white; 
    */
	text-decoration: none;
	position: relative;
	display: inline-block;
	border-radius: 2px;
}
.cart-badge {
	position: absolute;
	top: 2px;
	right: -1.7vh;
	padding: 3px 7px;
	font-size: 11px;
	border-radius: 50px;
	background: red;
	color: white;
	-webkit-text-stroke-width: 0;
	-webkit-text-stroke-color: white;
}
@media only screen and (min-width: 513px) {
	.custom-card:hover {
		box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
			rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
		transform: translateY(-3px) scale(1.1);
	}
}
@media only screen and (max-width: 513px) {
	#toast {
		right: 0px;
		left: 0px;
	}
}

.floating_order_button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 30px;
	right: 30px;
	background-color: rgb(117, 99, 48);
	border: white 1px solid;
	color: #fff;
	border-radius: 50px;
	text-align: center;
}
.gear_icon {
	margin-bottom: 5px;
}

.floating_button_intro {
	position: fixed;
	width: 60px;
	height: 73px;
	bottom: 60px;
	right: 30px;
	margin-top: 8px;
	background-color: rgb(175, 85, 49);
	color: white;
	text-align: center;
}
.floating_button_intro {
	animation: fadeinout 2s linear 1 forwards;
}

@keyframes fadeinout {
	0% {
		opacity: 0.5;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#navbar {
	padding-right: 0% !important;
}
