.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right-text {
    position: absolute;
    right: 8px;
    bottom: 10vh;
}
.center-image-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
    .center-image-button {
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
body {
    padding-right: 0px !important;
}
/*

body.modal-open {
    overflow: visible;
    position: fixed;
    width: 100%;
} */
